# Output files
*.npy
*.pdf
*.png
*.xml
*.yaml
*.yml
!.github/*/*.yml
!.pre-commit-config.yaml
!.readthedocs.yml
!codecov.yml
!environment.yml
!examples/intensity-recipe.yaml

# Build output
*.egg-info/
*.eggs/
*build/
.fuse_*
dist/
version.py

# Python temporary files
*.pyc
.coverage
.coverage.*
.eggs/
.ipynb_checkpoints/
.mypy*/
.pytest_cache/
.tox/
__pycache__/
htmlcov/

# Virtual environments
/*venv/

# Settings
.idea/
**.code-workspace
