# Build output
*.egg-info/
*build/
.fuse_*
dist/

# Output files
*.pdf
*.png
*.xml

# Python temporary files
*.pyc
.coverage
.coverage.*
.eggs
.ipynb_checkpoints
.mypy*/
.pytest_cache/
__pycache__
htmlcov/
pycompwa.egg-info

# Virtual environments
*venv/

# Visual Studio Code
.vscode/
*.code-workspace/
