# To see other available options:
#   pylint --generate-rcfile > .pylintrc_new
# and compare the output

[VARIABLES]
init-import=yes

[MESSAGES CONTROL]
disable=
    C0116,  # missing-function-docstring
    C0330,  # for black formatting
    RST203,
    RST301,

[MASTER]
ignore=conf.py

[TYPECHECK]
ignored-modules=
    amplitf.interface,

[DESIGN]
# Minimum number of public methods for a class (see R0903). Default is 2.
# We decrease this to 1, since some interface classes just have a single
# (public) method
max-args=7  # default: 5
min-public-methods=1
