name: tensorwaves
channels:
  - defaults
dependencies:
  - python==3.10.*
  - pip>=19
  - graphviz # for binder
  - pip:
      - -c .constraints/py3.10.txt -e .[dev]
variables:
  PRETTIER_LEGACY_CLI: "1"
  PYTHONHASHSEED: 0
