-r doc/requirements.txt
-r tests/requirements.txt
black==19.10b0
flake8==3.8.3 # >=3 for per-file-ignores
flake8-blind-except==0.1.1
flake8-builtins==1.5.3
flake8-import-order==0.18.1
flake8-rst-docstrings==0.0.13
mypy==0.782
pep8-naming==0.11.1
pre-commit==2.6.0
pydocstyle==5.0.2
pylint==2.5.3
rstcheck==3.3.1
tox==3.16.1
