doc8==0.8.1
expertsystem==0.1.2a0
jupyter==1.0.0
matplotlib==3.2.2
nbsphinx==0.7.1
pandas>=1
Sphinx==3.0.4
sphinx-autodoc-typehints==1.11.0
sphinx-copybutton==0.2.12
sphinx-rtd-theme==0.5.0
sphobjinv==2.0.1
