name: Benchmark

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
      - epic/*

jobs:
  benchmark:
    name: Performance regression
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v3
        with:
          python-version: 3.9
      - name: Install dependencies
        run: |
          pip install -c .constraints/py3.9.txt -e .[test,all]
          pip install .
      - name: Run pytest-benchmark
        run: |
          pytest \
            -k benchmark \
            --benchmark-json output.json \
            --durations=0
        working-directory: benchmarks
      - name: Store result
        if: github.event_name != 'pull_request'
        uses: benchmark-action/github-action-benchmark@v1
        with:
          name: TensorWaves benchmark results
          tool: pytest
          output-file-path: benchmarks/output.json
          github-token: ${{ secrets.GITHUB_TOKEN }}
          gh-pages-branch: benchmark-results
          benchmark-data-dir-path: ""
          auto-push: true
      - name: Warn on performance decrease
        if: github.event_name == 'pull_request'
        uses: benchmark-action/github-action-benchmark@v1
        with:
          name: TensorWaves benchmark results
          tool: pytest
          output-file-path: benchmarks/output.json
          github-token: ${{ secrets.GITHUB_TOKEN }}
          gh-pages-branch: benchmark-results
          benchmark-data-dir-path: ""
          auto-push: false
          comment-on-alert: true
          fail-on-alert: true
