name: pytest

on:
  push:
    branches:
      - main
      - epic/*
  pull_request:
    branches:
      - main
      - epic/*

jobs:
  codecov:
    name: Unit tests + coverage
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-20.04]
        python-version: ["3.7"]
    steps:
      - uses: actions/checkout@master
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@master
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -c .constraints/py${{ matrix.python-version }}.txt -e .[test,all]
          pip install .
      - name: Test with pytest-cov
        run: pytest tests -n auto --cov=tensorwaves --cov-report=xml
      - uses: actions/upload-artifact@v2
        if: ${{ always() }}
        with:
          name: test_output_${{ matrix.os }}_${{ matrix.python-version }}
          path: tests/output
      - uses: codecov/codecov-action@v1
        with:
          file: ./coverage.xml
          # cspell:ignore unittests
          flags: unittests

  pytest:
    name: Unit tests
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-20.04
        python-version: ["3.6", "3.7", "3.8", "3.9"]
        exclude:
          - os: ubuntu-20.04 # coverage job
            python-version: "3.7"
        include:
          - os: macos-11
            python-version: "3.7"
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -c .constraints/py${{ matrix.python-version }}.txt -e .[test,all]
      - name: Run unit tests and doctests with pytest
        env:
          CUDA_VISIBLE_DEVICES: "-1"
        run: pytest -n auto
      - uses: actions/upload-artifact@v2
        if: ${{ always() }}
        with:
          name: test_output_${{ matrix.os }}_${{ matrix.python-version }}
          path: tests/output

  pytest-jax:
    name: Unit tests (JAX only)
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: "3.9"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -c .constraints/py3.9.txt -e .[test,jax]
      - name: Run unit tests and doctests with pytest
        run: |
          pytest -k "not (ampform or four_momenta or numba or tensorflow or tf)"
